.container{

}
.headcontainer{
    background-color: rgb(225, 234, 234);
    height: 700px;
}
.head{
    display: flex;
    gap: 3%;
}
@font-face {
    font-family: poppins;
    src: url(fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: poppinsbold;
    src: url(fonts/Poppins-Bold.ttf);
}
#dit{
    font-family: poppinsbold;
}
.options{
    display:flex;
    gap: 7%;
    margin-left: 19%;
    font-family: poppins;
   
}
.options li{
    list-style: none;
    display: flex;
  
}
a{
    text-decoration: none;
    color: rgb(5, 5, 86);
}
#feature{
    font-weight: bold;
}
.logsign{
    display: flex;
    margin-left: 1050px;
    margin-top: -4%;
   gap: 8%;

}
.log{
 padding-left: 12px;
 padding-right: 15px;
 margin-left: 12px;
 width: 70%;
 font-family: poppins;
 border: none;
 border-radius: 12%; 
 margin-right: 12px; 
 background-color: rgb(225, 234, 234);
}
.sign{
 padding-left: 12px;
 padding-right: 17px;
 width: 60%;
font-family: poppins;
background-color: fuchsia;
border: none;
color: white;
font-weight: bolder;
border-radius: 12%;
margin-right: 1px;
}
.improve{
    color: rgb(5, 5, 86);
}
.you_charge{
    color: red;
    text-decoration: underline;
}
.improve{
    margin-left: 14%;
    display: flex;

}
.rightside h1{
    font-size: 50px;
}
.rightside p{
    font-family: poppins;
    font-weight: lighter;
    color: rgb(120, 120, 167);
}
.apps{
    display: flex;
    gap: 3%;
}
#apple{
    background-color: rgb(5, 5, 86);
    color: white;
    font-family: poppinsbold;
    font-size:16px ;
    width: 20%;
    border-radius: 7%;   
}
.playstoreicon{
    width: 12%;

}
#playstore{
   width: 20%;
   padding:5px ;
   margin-top: 1px;
   border-radius: 10%; 
   font-size:16px ;
   font-family:poppins;
   font: bolder;
   text-align: center;

}
#contact{
    text-decoration: underline;
    font-family:poppinsbold;
    color: rgb(5, 5, 86);
}
.leftside{
    margin-right: 110px;

}
.roger{
    border: none;
    width: 110%;
    border-radius: 5%;
    background-color: white;
    padding: 15px;
    margin-top: 40px;
    transform: rotate(-8deg);
}
.roger_top{
    display: flex;
    gap: 1%;
}
.roger_photo{
    display: flex;
    gap: 12%;
    margin-top: 12px;
}
#roger_photo{
    width: 15%;
    margin-top: 10px;
    margin-left:12px ;
    border-radius: 50%;
}
.roger_photo p{
    background-color: rgb(225, 234, 234);
    color: blue;
    font-family: poppins;
    font-size: 13px;
    padding: 9px;
    border-radius: 9%; 
}
.roger_details{
    font-family: poppins;
    margin-top: 50px;
    display: flex;
    gap: 20%;
    color: black;

}
.roger_details h1{
    font-size: 20px;
    font-family: poppinsbold;
  
}
.roger_details p{
    font-size: 14px;
    margin-top: 1px;
}
.oculus{
    font-family: poppinsbold;
}
.salary{
    color: black;
}
.salary h1{
    font-family: poppinsbold;
    font-size: 20px;
}
.salary p{
    font-family: poppins;
    font-size: 12px;
}
#beardguy{
   position: absolute;
   z-index:2;
   top: 10%;
   left: 77%;
   width: 18%;
   border-radius: 12%;
   transform: rotate(-9deg);

}.speed{
    border-radius: 12%;
    background-color: white;
    display: flex;
    margin-right: 20%;
    margin-top: 48px;
    position: absolute;
    z-index:2;
    gap: 39%;
    width: 20%;
    padding-left: 10px;
    font-family: poppinsbold;
    color: black;
    transform: rotate(-6deg);
}
#avg{
    font-size: 12px;
}
.otherppl{
    position: absolute;
    z-index:3;
    top: 8%;
    left: 90%;
    width: 25%;
    border-radius: 13%;
    transform: rotate(-9deg);
}
.over{
    text-align: center;
    font-size: 20px;
    font-family: poppins;
    color: rgb(5, 5, 86);
    margin-top: 32px;

}
.partners{
    display: flex;
    gap: 3%;
    margin-left: 350px;
}
.number{
    font-family: poppinsbold;
}
#microsoft{
    width: 11%;
    height: 11%;
}
#trello{
    width: 11%;
    height: 11%;
}
#google{
    width: 11%;
    height: 11%;
}
#dropbox{
    width: 11%;
    height: 11%;
}
#slack{
    width: 11%;
    height: 11%;
}
.the{
    text-align: center;
    font-size: 40px;
    color: rgb(5, 5, 86);
    margin-top: 45px;
}
.product{
    color: red;
    text-decoration: underline;
}
.products{
    display: flex;
    padding-left: 130px; 
    padding-top:20px ;
    padding-bottom: 30px;
    margin-top: 12px;
    gap: 10%; background-color: rgb(225, 234, 234);
}
.easy_interface{
    border: solid 2px violet;
    border-radius: 12%;
    width: 20%;
    padding: 40px;
    color: rgb(5, 5, 86);
    font-family: poppins;
    font-size: 15px;
    background-color: white;
}
.easy_interface h1{
    font-size: 25px;
    padding-top: 12%;
    padding-left: 15px;
}
.fa-star{
    padding-left: 90px;
    font-size: 25px;
    
}
#slides{
    width: 15%;
    padding-left: 90px;
}
.transfers{
    border-radius: 12%;
    width: 20%;
    padding: 40px;
    color: rgb(5, 5, 86);
    font-family: poppins;
    font-size: 15px;
    background-color: white;
}  
.transfers h1{
    font-size: 25px;
    padding-top: 12%;
    padding-left: 15px;
} 
.fa-feather{
    padding-left: 90px;
    font-size: 25px;
}
.support_time{
    border-radius: 12%;
    width: 18%;
    padding: 40px;
    color: rgb(5, 5, 86);
    font-family: poppins;
    font-size: 15px;
    background-color: white;

}
.support_time h1{
    font-size: 25px;
    padding-top: 12%;
    padding-left: 15px;
}
.ditio_numbers{
    display: flex;
    margin-top: 20px;
   
}
.dit{
    color: red;
    text-decoration: underline;
}
.ditio_numbers p{
    font-family: poppins;
    color: rgb(120, 120, 167);
}
.ditio_numbers h1{
    font-size: 35px;
}
.numbers_right{
    color: rgb(5, 5, 86);
    margin-left: 20%;
}

.stats{
    display: flex;
    gap: 12%;
}
.numbers_left{
    margin-right: 10px;
}
#pic{
 width: 120%;
 margin-left: 3%;
 margin-top: 20px;
}
.create{
    display: flex;
    font-size: 10px;
    width: 22%;
    border: none;
    border-radius: 12px;
    padding: 5px;
    gap: 5%;
    background-color: white;
    position: absolute;
    z-index:2;
   top: 35%;
   left: 70%;

}
.create h1{
    font-family: poppins;
    font-size: 13px;
}
.watch{
    height: 40px; 
    width: 25%;
    margin-top: 30px;
    color: white;
    background-color: rgb(104, 104, 245);
    border: none;
    border-radius: 15%;
    font-size: 13px;
    font-family: poppinsbold;
}
.fa-cube{
    background-color: mediumorchid;
    color: white;
    padding: 5px;
    font-size: 13px;
    border-radius: 10%;

}
.study{
    color: rgb(5, 5, 86); 
    background-color: white;
    border: none;
    border-radius: 12%;
   font-size: 9px;
   padding: 12px;
   position: absolute;
    z-index:3;
   top:42%;
   left: 60%;
}
.study h1{
    font-family: poppins;
    font-size: 13px;
}
.join{
    height: 40px; 
    width: 50%;
    margin-top: 20px;
    margin-left: 20px;
    color: white;
    background-color: violet;
    border: none;
    border-radius: 15%;
    font-size: 13px;
    font-family: poppinsbold; 
}
.fa-anchor{
    background-color: rgb(104, 104, 245);
    color: white;
    padding: 5px;
    font-size: 13px;
    border-radius: 10%;
    margin-left: 20px;
}
.help{
    text-align: center;
    font-size: 40px;
    margin-top: 45px;

}
.globally{
    color: red;
    text-decoration: underline;
}
.mobile{
    display: flex;
    gap: 13%;
    background-color:rgb(252, 232, 235);
    font-family: poppins;
    color: rgb(5, 5, 86);
    font-size: 13px;
    
}
.mobile h1{
    font-size: 22px;
}
.mobile p{
    font-size: 16px;
    color: rgb(120, 120, 167);
}
.app{
    width: 30%;
    margin-left: 11%;
    margin-top: 20px;
}
#smartphone{
    width:7%;
}
.more{
    background-color: rgb(26, 26, 124);
    color: white;
    font-family: poppinsbold;
    font-size: 16px;
    padding: 13px;
    border-radius: 15%;
    width: 50%;
    border:none;
    margin-top: 40px;
}
#screen{
    width: 45%;
    margin-top: 30px;
    transform: rotate(9deg);
}
.comments{
    text-align: center;
    font-size: 40px;
    margin-top: 45px;
}
.some{
    color: red;
    text-decoration: underline;
}
.clients{
    display: flex;
    gap: 12%;
    margin-left:15% ;
    color: rgb(5, 5, 86);
    font-family: poppins;
}
.clients h1{
    font-size: 19px;
}
.simpler{
    font-style: italic;
    color: rgb(120, 120, 167);
}
.simplerwe{
    color: rgb(26, 26, 124);
    font-style: italic;
}
.edwin{
    border: solid 1px mediumvioletred;
    border-radius: 12%;
    padding: 40px;  
}
.normal{
    padding-left: 80px;
}
#edwin{
    width: 20%;
}
.jecson{
    padding: 20px;
}
.solid{
    color: rgb(255, 173, 20);
    padding-left: 80px;
}
#jecson{
    width: 23%;
}
.end{
    display: flex;
    margin-top: 55px;
    margin-left: 20%;
    margin-bottom: 20px;
    gap: 20%;
    color: rgb(5, 5, 86);
    font-family: poppins;
  
}
.fifty{
    color: rgb(120, 120, 167);
    text-decoration: underline;
}
.download_image{
    width:300%;
}
.application{
    width: 100%

}
.foot{
    background-color: rgb(31, 31, 46);
    color: rgb(97, 97, 148);
    display: flex;
    gap: 10%;
    font-family: poppins;
}
.platforms{
    margin-left: 18px;

}
.icons{
    display: flex;
    gap: 10%;
    color: white;
}
.lists{
    list-style: none;
}
.lists p{
    font-weight: bolder;
    color: white;
}
.terms{
    background-color: black;
    color: white;
    display: flex;
    gap: 50%;
    font-family: poppins;
}
@media screen and (max-width:350px){
    body {
      margin: 0;
      width: 100%;
      padding: 0;
      position: relative;
      height: 100%;
    }
}
@media screen and (min-width: 351px) and (max-width: 580px) {
    body {
      margin: 0;
      padding: 0;
      position: relative;
      height: 100%;
      width: 100%;
    }
}
@media screen and (min-width: 581px) and (max-width: 740px) {
    body {
      margin: 0;
      padding: 0;
      position: relative;
      height: 100%;
      width: 100%;
    }
}
@media screen and (min-width: 741px) and (max-width: 1040px) {
    body {
      margin: 0;
      padding: 0;
      position: relative;
      height: 100%;
      width: 100%;
    }
}
@media screen and  (min-width: 1041px) {
    body {
      margin: 0;
      padding: 0;
      position: relative;
      height: 100%;
      width: 100%;

  }
}
@media screen and  (min-width: 1041px) {
    body {
      margin: 0;
      padding: 0;
      position: relative;
      height: 100%;
      width: 100%;

  }
}
@media screen and  (min-width: 1041px) {
    body {
      margin: 0;
      padding: 0;
      position: relative;
      height: 100%;
      width: 100%;
    }
}
